<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="vpc-jaxb">
        <wb-resource deploy-path="/" source-path="/.apt_generated"/>
        <wb-resource deploy-path="/" source-path="/src/main/resources"/>
        <wb-resource deploy-path="/" source-path="/target/generated-sources/xjc"/>
    </wb-module>
</project-modules>
